<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
center {
  font-family: 'Montserrat', sans-serif;
}
  #breathing {
    padding: 12px;
    border: 0px solid #3cc8b4;
    -webkit-animation: breathing 5s ease-out infinite normal;
    animation: breathing 5s ease-out infinite normal;
    font-family:'Lantinghei SC';
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    border-radius: 0px;
    text-align: center;    
    }


@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

</style>
<div align=center id="breathing"><img src="{{url_for('static', filename='9d5.png')}}" align="middle" width=250 height=250/></div>
<center><h1><strong>404</strong></h1><h3>Site... Where?</h3><br><p>The site you are trying to reach is unreachable... How Can This Be?</p><br><br><br><a href="/">Back To Safety</a></center>